.home__heading__container {
  width: 100%;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home__heading__container .home__heading__title,
.home__heading__container .home__heading__title__dark {
  width: 80%;
  text-align: center;
  margin: auto;
  font-size: 3.6rem;
}
.home__heading__container .home__heading__title__dark {
  color: var(--text-primary);
}
.home__heading__container .home__heading__subtitle,
.home__heading__container .home__heading__subtitle__dark {
  width: 50%;
  margin-top: 1.2rem;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  color: rgb(117, 117, 117);
}

@media screen and (max-width: 768px) {
  .home__heading__container .home__heading__title,
  .home__heading__container .home__heading__title__dark {
    width: 100%;
  }
  .home__heading__container .home__heading__subtitle,
  .home__heading__container .home__heading__subtitle__dark {
    width: 75%;
  }
}