# Ignore node_modules to avoid copying local dependencies (handled in Dockerfile)
node_modules

# Ignore Dockerfile itself and other unnecessary files
Dockerfile
.dockerignore

# Ignore logs and local development environment files
*.log
.env
.env.example

# Ignore git-related files
.git
.gitignore

# Ignore IDE/editor files
.vscode
.idea

# Ignore test and coverage directories
coverage
tests

# other
.eslintrc.json
