$profile__card__icon__link__icon__size: 2rem;

.profile__card__icon__link__container {
  height: $profile__card__icon__link__icon__size;
  display: flex;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.profile__card__icon__link__container .content__container {
  display: flex;
  align-items: center;

  .profile__card__icon__link__icon {
    width: $profile__card__icon__link__icon__size;
    height: $profile__card__icon__link__icon__size;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .profile__card__icon__link {
    font-family: "Mulish", sans-serif;
    font-weight: 600;
    margin-left: 1.2rem;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.4rem;

    a {
      text-decoration: none;
      color: rgba(0, 0, 0, 0.8);
      font-size: 1.2rem;
      font-size: 1.4rem;
    }
  }
}
