.profile__card__icon__link__container {
  height: 2rem;
  display: flex;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.profile__card__icon__link__container .content__container {
  display: flex;
  align-items: center;
}
.profile__card__icon__link__container .content__container .profile__card__icon__link__icon {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile__card__icon__link__container .content__container .profile__card__icon__link__icon img {
  width: 100%;
  height: 100%;
}
.profile__card__icon__link__container .content__container .profile__card__icon__link {
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  margin-left: 1.2rem;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.4rem;
}
.profile__card__icon__link__container .content__container .profile__card__icon__link a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.2rem;
  font-size: 1.4rem;
}