$dashboard__navbar__width: 16vw;
$bottom__btns__container__height: 6.4rem;
$bottom__btns__img__container__width: 4rem;
$bottom__btns__img__container__height: 4rem;

.dashboard__navbar {
  width: $dashboard__navbar__width;
  height: 100%;
  background: #5d44f8;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  .heading__logo {
    height: 5.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    text-decoration: none;
  }

  .dashboard__navbar__links__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .create__new__link__btn {
    width: 92%;
    height: 4rem;
    border-radius: 0.6rem;
    margin-bottom: 1.2rem;
    border: none;
    outline: none;
    color: #ffffff;
    font-family: "Mulish", sans-serif;
    font-weight: 600;
    cursor: pointer;
    margin-left: 4%;
    margin-top: 3.2rem;
    background: rgba(71, 49, 212, 0.9);
  }

  .create__new__link__btn:hover {
    background: rgba(71, 49, 212, 1);
    font-weight: 700;
  }
}

.dashboard__navbar .dashboard__navbar__links__container {
  display: flex;
  flex-direction: column;
}

.dashboard__navbar .dashboard__navbar__bottom__btns__container {
  width: 100%;
  height: $bottom__btns__container__height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.6rem;

  .btn__img__container {
    width: $bottom__btns__img__container__width;
    height: $bottom__btns__img__container__height;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    img {
      width: $bottom__btns__img__container__height/2;
      height: $bottom__btns__img__container__height/2;
    }
  }

  .btn__img__container:hover {
    background: rgba(71, 49, 212, 0.66);
  }
}
