.dashboard__navbar {
  width: 16vw;
  height: 100%;
  background: var(--dashboard-navbar-bg, #5d44f8);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid var(--dashboard-navbar-right-border-color);
}
.dashboard__navbar .heading__logo {
  height: 5.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dashboard-navbar-heading-logo-color);
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  text-decoration: none;
}
.dashboard__navbar .dashboard__navbar__links__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.dashboard__navbar .create__new__link__btn {
  width: 92%;
  height: 4rem;
  border-radius: 0.6rem;
  margin-bottom: 1.2rem;
  border: none;
  outline: none;
  color: var(--dashboard-navbar-create-link-text);
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  cursor: pointer;
  margin-left: 4%;
  margin-top: 3.2rem;
  background: var(--dashboard-navbar-create-link-bg);
  border: var(--dashboard-navbar-create-link-border);
}
.dashboard__navbar .create__new__link__btn:hover {
  background: var(--dashboard-navbar-create-link-bg-hover);
  color: var(--dashboard-navbar-create-link-text-hover);
  border: var(--dashboard-navbar-create-link-border-hover);
}

.dashboard__navbar .dashboard__navbar__links__container {
  display: flex;
  flex-direction: column;
}

.dashboard__navbar .dashboard__navbar__bottom__btns__container {
  width: 100%;
  height: 6.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.6rem;
}
.dashboard__navbar .dashboard__navbar__bottom__btns__container .btn__img__container {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: var(--dashboard-navbar-bottom-btns-bg);
}
.dashboard__navbar .dashboard__navbar__bottom__btns__container .btn__img__container img {
  width: 2rem;
  height: 2rem;
}
.dashboard__navbar .dashboard__navbar__bottom__btns__container .btn__img__container:hover {
  background: var(--dashboard-navbar-bottom-btns-hover-bg);
}