.signup__page,
.login__page,
.forgot__password__page,
.reset__password__page {
  background: #f6f6f8;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.signup__form__container,
.login__form__container,
.forgot__password__form__container,
.reset__password__form__container {
  width: 56rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ffffff;
  padding: 3.6rem 3.2rem;
  border-radius: 1.2rem;
}
.signup__form__container .signup__heading,
.signup__form__container .forgot__password__heading,
.login__form__container .signup__heading,
.login__form__container .forgot__password__heading,
.forgot__password__form__container .signup__heading,
.forgot__password__form__container .forgot__password__heading,
.reset__password__form__container .signup__heading,
.reset__password__form__container .forgot__password__heading {
  width: 100%;
  text-align: center;
  font-size: 2.4rem;
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
}
.signup__form__container .reset__password__heading,
.login__form__container .reset__password__heading,
.forgot__password__form__container .reset__password__heading,
.reset__password__form__container .reset__password__heading {
  width: 100%;
  font-size: 1.6rem;
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  color: #333333;
}
.signup__form__container .login__form__heading,
.login__form__container .login__form__heading,
.forgot__password__form__container .login__form__heading,
.reset__password__form__container .login__form__heading {
  width: 100%;
  text-align: left;
  font-size: 1.6rem;
  color: #757575;
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
}
.signup__form__container .login__heading,
.login__form__container .login__heading,
.forgot__password__form__container .login__heading,
.reset__password__form__container .login__heading {
  width: 100%;
  font-family: "Libre Baskerville", serif;
  font-size: 2.4rem;
  font-weight: 700;
  margin-top: 0.8rem;
  text-align: left;
  color: #333333;
}
.signup__form__container .forgot__password__instruction,
.login__form__container .forgot__password__instruction,
.forgot__password__form__container .forgot__password__instruction,
.reset__password__form__container .forgot__password__instruction {
  font-size: 1.6rem;
  font-family: "Mulish", sans-serif;
  color: #757575;
  margin-top: 1.6rem;
}
.signup__form__container .signup__form__btns__container,
.signup__form__container .login__form__btns__container,
.signup__form__container .forgot__password__form__btns__container,
.signup__form__container .reset__password__form__btns__container,
.login__form__container .signup__form__btns__container,
.login__form__container .login__form__btns__container,
.login__form__container .forgot__password__form__btns__container,
.login__form__container .reset__password__form__btns__container,
.forgot__password__form__container .signup__form__btns__container,
.forgot__password__form__container .login__form__btns__container,
.forgot__password__form__container .forgot__password__form__btns__container,
.forgot__password__form__container .reset__password__form__btns__container,
.reset__password__form__container .signup__form__btns__container,
.reset__password__form__container .login__form__btns__container,
.reset__password__form__container .forgot__password__form__btns__container,
.reset__password__form__container .reset__password__form__btns__container {
  margin-top: 3.6rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.signup__form__container .signup__form__btns__container .signup__prev__btn,
.signup__form__container .signup__form__btns__container .signup__next__btn,
.signup__form__container .signup__form__btns__container .signup__signup__btn,
.signup__form__container .signup__form__btns__container .login__login__btn,
.signup__form__container .signup__form__btns__container .reset__password__reset__btn,
.signup__form__container .signup__form__btns__container .forgot__password__btn,
.signup__form__container .login__form__btns__container .signup__prev__btn,
.signup__form__container .login__form__btns__container .signup__next__btn,
.signup__form__container .login__form__btns__container .signup__signup__btn,
.signup__form__container .login__form__btns__container .login__login__btn,
.signup__form__container .login__form__btns__container .reset__password__reset__btn,
.signup__form__container .login__form__btns__container .forgot__password__btn,
.signup__form__container .forgot__password__form__btns__container .signup__prev__btn,
.signup__form__container .forgot__password__form__btns__container .signup__next__btn,
.signup__form__container .forgot__password__form__btns__container .signup__signup__btn,
.signup__form__container .forgot__password__form__btns__container .login__login__btn,
.signup__form__container .forgot__password__form__btns__container .reset__password__reset__btn,
.signup__form__container .forgot__password__form__btns__container .forgot__password__btn,
.signup__form__container .reset__password__form__btns__container .signup__prev__btn,
.signup__form__container .reset__password__form__btns__container .signup__next__btn,
.signup__form__container .reset__password__form__btns__container .signup__signup__btn,
.signup__form__container .reset__password__form__btns__container .login__login__btn,
.signup__form__container .reset__password__form__btns__container .reset__password__reset__btn,
.signup__form__container .reset__password__form__btns__container .forgot__password__btn,
.login__form__container .signup__form__btns__container .signup__prev__btn,
.login__form__container .signup__form__btns__container .signup__next__btn,
.login__form__container .signup__form__btns__container .signup__signup__btn,
.login__form__container .signup__form__btns__container .login__login__btn,
.login__form__container .signup__form__btns__container .reset__password__reset__btn,
.login__form__container .signup__form__btns__container .forgot__password__btn,
.login__form__container .login__form__btns__container .signup__prev__btn,
.login__form__container .login__form__btns__container .signup__next__btn,
.login__form__container .login__form__btns__container .signup__signup__btn,
.login__form__container .login__form__btns__container .login__login__btn,
.login__form__container .login__form__btns__container .reset__password__reset__btn,
.login__form__container .login__form__btns__container .forgot__password__btn,
.login__form__container .forgot__password__form__btns__container .signup__prev__btn,
.login__form__container .forgot__password__form__btns__container .signup__next__btn,
.login__form__container .forgot__password__form__btns__container .signup__signup__btn,
.login__form__container .forgot__password__form__btns__container .login__login__btn,
.login__form__container .forgot__password__form__btns__container .reset__password__reset__btn,
.login__form__container .forgot__password__form__btns__container .forgot__password__btn,
.login__form__container .reset__password__form__btns__container .signup__prev__btn,
.login__form__container .reset__password__form__btns__container .signup__next__btn,
.login__form__container .reset__password__form__btns__container .signup__signup__btn,
.login__form__container .reset__password__form__btns__container .login__login__btn,
.login__form__container .reset__password__form__btns__container .reset__password__reset__btn,
.login__form__container .reset__password__form__btns__container .forgot__password__btn,
.forgot__password__form__container .signup__form__btns__container .signup__prev__btn,
.forgot__password__form__container .signup__form__btns__container .signup__next__btn,
.forgot__password__form__container .signup__form__btns__container .signup__signup__btn,
.forgot__password__form__container .signup__form__btns__container .login__login__btn,
.forgot__password__form__container .signup__form__btns__container .reset__password__reset__btn,
.forgot__password__form__container .signup__form__btns__container .forgot__password__btn,
.forgot__password__form__container .login__form__btns__container .signup__prev__btn,
.forgot__password__form__container .login__form__btns__container .signup__next__btn,
.forgot__password__form__container .login__form__btns__container .signup__signup__btn,
.forgot__password__form__container .login__form__btns__container .login__login__btn,
.forgot__password__form__container .login__form__btns__container .reset__password__reset__btn,
.forgot__password__form__container .login__form__btns__container .forgot__password__btn,
.forgot__password__form__container .forgot__password__form__btns__container .signup__prev__btn,
.forgot__password__form__container .forgot__password__form__btns__container .signup__next__btn,
.forgot__password__form__container .forgot__password__form__btns__container .signup__signup__btn,
.forgot__password__form__container .forgot__password__form__btns__container .login__login__btn,
.forgot__password__form__container .forgot__password__form__btns__container .reset__password__reset__btn,
.forgot__password__form__container .forgot__password__form__btns__container .forgot__password__btn,
.forgot__password__form__container .reset__password__form__btns__container .signup__prev__btn,
.forgot__password__form__container .reset__password__form__btns__container .signup__next__btn,
.forgot__password__form__container .reset__password__form__btns__container .signup__signup__btn,
.forgot__password__form__container .reset__password__form__btns__container .login__login__btn,
.forgot__password__form__container .reset__password__form__btns__container .reset__password__reset__btn,
.forgot__password__form__container .reset__password__form__btns__container .forgot__password__btn,
.reset__password__form__container .signup__form__btns__container .signup__prev__btn,
.reset__password__form__container .signup__form__btns__container .signup__next__btn,
.reset__password__form__container .signup__form__btns__container .signup__signup__btn,
.reset__password__form__container .signup__form__btns__container .login__login__btn,
.reset__password__form__container .signup__form__btns__container .reset__password__reset__btn,
.reset__password__form__container .signup__form__btns__container .forgot__password__btn,
.reset__password__form__container .login__form__btns__container .signup__prev__btn,
.reset__password__form__container .login__form__btns__container .signup__next__btn,
.reset__password__form__container .login__form__btns__container .signup__signup__btn,
.reset__password__form__container .login__form__btns__container .login__login__btn,
.reset__password__form__container .login__form__btns__container .reset__password__reset__btn,
.reset__password__form__container .login__form__btns__container .forgot__password__btn,
.reset__password__form__container .forgot__password__form__btns__container .signup__prev__btn,
.reset__password__form__container .forgot__password__form__btns__container .signup__next__btn,
.reset__password__form__container .forgot__password__form__btns__container .signup__signup__btn,
.reset__password__form__container .forgot__password__form__btns__container .login__login__btn,
.reset__password__form__container .forgot__password__form__btns__container .reset__password__reset__btn,
.reset__password__form__container .forgot__password__form__btns__container .forgot__password__btn,
.reset__password__form__container .reset__password__form__btns__container .signup__prev__btn,
.reset__password__form__container .reset__password__form__btns__container .signup__next__btn,
.reset__password__form__container .reset__password__form__btns__container .signup__signup__btn,
.reset__password__form__container .reset__password__form__btns__container .login__login__btn,
.reset__password__form__container .reset__password__form__btns__container .reset__password__reset__btn,
.reset__password__form__container .reset__password__form__btns__container .forgot__password__btn {
  width: 24rem;
  height: 4.8rem;
  border-radius: 0.6rem;
  border: none;
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  color: #ffffff;
}
.signup__form__container .signup__form__btns__container .login__login__btn,
.signup__form__container .signup__form__btns__container .forgot__password__btn,
.signup__form__container .signup__form__btns__container .reset__password__reset__btn,
.signup__form__container .login__form__btns__container .login__login__btn,
.signup__form__container .login__form__btns__container .forgot__password__btn,
.signup__form__container .login__form__btns__container .reset__password__reset__btn,
.signup__form__container .forgot__password__form__btns__container .login__login__btn,
.signup__form__container .forgot__password__form__btns__container .forgot__password__btn,
.signup__form__container .forgot__password__form__btns__container .reset__password__reset__btn,
.signup__form__container .reset__password__form__btns__container .login__login__btn,
.signup__form__container .reset__password__form__btns__container .forgot__password__btn,
.signup__form__container .reset__password__form__btns__container .reset__password__reset__btn,
.login__form__container .signup__form__btns__container .login__login__btn,
.login__form__container .signup__form__btns__container .forgot__password__btn,
.login__form__container .signup__form__btns__container .reset__password__reset__btn,
.login__form__container .login__form__btns__container .login__login__btn,
.login__form__container .login__form__btns__container .forgot__password__btn,
.login__form__container .login__form__btns__container .reset__password__reset__btn,
.login__form__container .forgot__password__form__btns__container .login__login__btn,
.login__form__container .forgot__password__form__btns__container .forgot__password__btn,
.login__form__container .forgot__password__form__btns__container .reset__password__reset__btn,
.login__form__container .reset__password__form__btns__container .login__login__btn,
.login__form__container .reset__password__form__btns__container .forgot__password__btn,
.login__form__container .reset__password__form__btns__container .reset__password__reset__btn,
.forgot__password__form__container .signup__form__btns__container .login__login__btn,
.forgot__password__form__container .signup__form__btns__container .forgot__password__btn,
.forgot__password__form__container .signup__form__btns__container .reset__password__reset__btn,
.forgot__password__form__container .login__form__btns__container .login__login__btn,
.forgot__password__form__container .login__form__btns__container .forgot__password__btn,
.forgot__password__form__container .login__form__btns__container .reset__password__reset__btn,
.forgot__password__form__container .forgot__password__form__btns__container .login__login__btn,
.forgot__password__form__container .forgot__password__form__btns__container .forgot__password__btn,
.forgot__password__form__container .forgot__password__form__btns__container .reset__password__reset__btn,
.forgot__password__form__container .reset__password__form__btns__container .login__login__btn,
.forgot__password__form__container .reset__password__form__btns__container .forgot__password__btn,
.forgot__password__form__container .reset__password__form__btns__container .reset__password__reset__btn,
.reset__password__form__container .signup__form__btns__container .login__login__btn,
.reset__password__form__container .signup__form__btns__container .forgot__password__btn,
.reset__password__form__container .signup__form__btns__container .reset__password__reset__btn,
.reset__password__form__container .login__form__btns__container .login__login__btn,
.reset__password__form__container .login__form__btns__container .forgot__password__btn,
.reset__password__form__container .login__form__btns__container .reset__password__reset__btn,
.reset__password__form__container .forgot__password__form__btns__container .login__login__btn,
.reset__password__form__container .forgot__password__form__btns__container .forgot__password__btn,
.reset__password__form__container .forgot__password__form__btns__container .reset__password__reset__btn,
.reset__password__form__container .reset__password__form__btns__container .login__login__btn,
.reset__password__form__container .reset__password__form__btns__container .forgot__password__btn,
.reset__password__form__container .reset__password__form__btns__container .reset__password__reset__btn {
  width: 100%;
}
.signup__form__container .signup__form__btns__container .signup__prev__btn,
.signup__form__container .signup__form__btns__container .login__login__btn,
.signup__form__container .signup__form__btns__container .signup__next__btn,
.signup__form__container .signup__form__btns__container .reset__password__reset__btn,
.signup__form__container .login__form__btns__container .signup__prev__btn,
.signup__form__container .login__form__btns__container .login__login__btn,
.signup__form__container .login__form__btns__container .signup__next__btn,
.signup__form__container .login__form__btns__container .reset__password__reset__btn,
.signup__form__container .forgot__password__form__btns__container .signup__prev__btn,
.signup__form__container .forgot__password__form__btns__container .login__login__btn,
.signup__form__container .forgot__password__form__btns__container .signup__next__btn,
.signup__form__container .forgot__password__form__btns__container .reset__password__reset__btn,
.signup__form__container .reset__password__form__btns__container .signup__prev__btn,
.signup__form__container .reset__password__form__btns__container .login__login__btn,
.signup__form__container .reset__password__form__btns__container .signup__next__btn,
.signup__form__container .reset__password__form__btns__container .reset__password__reset__btn,
.login__form__container .signup__form__btns__container .signup__prev__btn,
.login__form__container .signup__form__btns__container .login__login__btn,
.login__form__container .signup__form__btns__container .signup__next__btn,
.login__form__container .signup__form__btns__container .reset__password__reset__btn,
.login__form__container .login__form__btns__container .signup__prev__btn,
.login__form__container .login__form__btns__container .login__login__btn,
.login__form__container .login__form__btns__container .signup__next__btn,
.login__form__container .login__form__btns__container .reset__password__reset__btn,
.login__form__container .forgot__password__form__btns__container .signup__prev__btn,
.login__form__container .forgot__password__form__btns__container .login__login__btn,
.login__form__container .forgot__password__form__btns__container .signup__next__btn,
.login__form__container .forgot__password__form__btns__container .reset__password__reset__btn,
.login__form__container .reset__password__form__btns__container .signup__prev__btn,
.login__form__container .reset__password__form__btns__container .login__login__btn,
.login__form__container .reset__password__form__btns__container .signup__next__btn,
.login__form__container .reset__password__form__btns__container .reset__password__reset__btn,
.forgot__password__form__container .signup__form__btns__container .signup__prev__btn,
.forgot__password__form__container .signup__form__btns__container .login__login__btn,
.forgot__password__form__container .signup__form__btns__container .signup__next__btn,
.forgot__password__form__container .signup__form__btns__container .reset__password__reset__btn,
.forgot__password__form__container .login__form__btns__container .signup__prev__btn,
.forgot__password__form__container .login__form__btns__container .login__login__btn,
.forgot__password__form__container .login__form__btns__container .signup__next__btn,
.forgot__password__form__container .login__form__btns__container .reset__password__reset__btn,
.forgot__password__form__container .forgot__password__form__btns__container .signup__prev__btn,
.forgot__password__form__container .forgot__password__form__btns__container .login__login__btn,
.forgot__password__form__container .forgot__password__form__btns__container .signup__next__btn,
.forgot__password__form__container .forgot__password__form__btns__container .reset__password__reset__btn,
.forgot__password__form__container .reset__password__form__btns__container .signup__prev__btn,
.forgot__password__form__container .reset__password__form__btns__container .login__login__btn,
.forgot__password__form__container .reset__password__form__btns__container .signup__next__btn,
.forgot__password__form__container .reset__password__form__btns__container .reset__password__reset__btn,
.reset__password__form__container .signup__form__btns__container .signup__prev__btn,
.reset__password__form__container .signup__form__btns__container .login__login__btn,
.reset__password__form__container .signup__form__btns__container .signup__next__btn,
.reset__password__form__container .signup__form__btns__container .reset__password__reset__btn,
.reset__password__form__container .login__form__btns__container .signup__prev__btn,
.reset__password__form__container .login__form__btns__container .login__login__btn,
.reset__password__form__container .login__form__btns__container .signup__next__btn,
.reset__password__form__container .login__form__btns__container .reset__password__reset__btn,
.reset__password__form__container .forgot__password__form__btns__container .signup__prev__btn,
.reset__password__form__container .forgot__password__form__btns__container .login__login__btn,
.reset__password__form__container .forgot__password__form__btns__container .signup__next__btn,
.reset__password__form__container .forgot__password__form__btns__container .reset__password__reset__btn,
.reset__password__form__container .reset__password__form__btns__container .signup__prev__btn,
.reset__password__form__container .reset__password__form__btns__container .login__login__btn,
.reset__password__form__container .reset__password__form__btns__container .signup__next__btn,
.reset__password__form__container .reset__password__form__btns__container .reset__password__reset__btn {
  background: #222222;
}
.signup__form__container .signup__form__btns__container .signup__signup__btn,
.signup__form__container .signup__form__btns__container .forgot__password__btn,
.signup__form__container .login__form__btns__container .signup__signup__btn,
.signup__form__container .login__form__btns__container .forgot__password__btn,
.signup__form__container .forgot__password__form__btns__container .signup__signup__btn,
.signup__form__container .forgot__password__form__btns__container .forgot__password__btn,
.signup__form__container .reset__password__form__btns__container .signup__signup__btn,
.signup__form__container .reset__password__form__btns__container .forgot__password__btn,
.login__form__container .signup__form__btns__container .signup__signup__btn,
.login__form__container .signup__form__btns__container .forgot__password__btn,
.login__form__container .login__form__btns__container .signup__signup__btn,
.login__form__container .login__form__btns__container .forgot__password__btn,
.login__form__container .forgot__password__form__btns__container .signup__signup__btn,
.login__form__container .forgot__password__form__btns__container .forgot__password__btn,
.login__form__container .reset__password__form__btns__container .signup__signup__btn,
.login__form__container .reset__password__form__btns__container .forgot__password__btn,
.forgot__password__form__container .signup__form__btns__container .signup__signup__btn,
.forgot__password__form__container .signup__form__btns__container .forgot__password__btn,
.forgot__password__form__container .login__form__btns__container .signup__signup__btn,
.forgot__password__form__container .login__form__btns__container .forgot__password__btn,
.forgot__password__form__container .forgot__password__form__btns__container .signup__signup__btn,
.forgot__password__form__container .forgot__password__form__btns__container .forgot__password__btn,
.forgot__password__form__container .reset__password__form__btns__container .signup__signup__btn,
.forgot__password__form__container .reset__password__form__btns__container .forgot__password__btn,
.reset__password__form__container .signup__form__btns__container .signup__signup__btn,
.reset__password__form__container .signup__form__btns__container .forgot__password__btn,
.reset__password__form__container .login__form__btns__container .signup__signup__btn,
.reset__password__form__container .login__form__btns__container .forgot__password__btn,
.reset__password__form__container .forgot__password__form__btns__container .signup__signup__btn,
.reset__password__form__container .forgot__password__form__btns__container .forgot__password__btn,
.reset__password__form__container .reset__password__form__btns__container .signup__signup__btn,
.reset__password__form__container .reset__password__form__btns__container .forgot__password__btn {
  background: #5d44f8;
  font-family: "Mulish", sans-serif;
  font-size: 1.6rem;
}
.signup__form__container .signup__form__btns__container .signup__signup__btn,
.signup__form__container .login__form__btns__container .signup__signup__btn,
.signup__form__container .forgot__password__form__btns__container .signup__signup__btn,
.signup__form__container .reset__password__form__btns__container .signup__signup__btn,
.login__form__container .signup__form__btns__container .signup__signup__btn,
.login__form__container .login__form__btns__container .signup__signup__btn,
.login__form__container .forgot__password__form__btns__container .signup__signup__btn,
.login__form__container .reset__password__form__btns__container .signup__signup__btn,
.forgot__password__form__container .signup__form__btns__container .signup__signup__btn,
.forgot__password__form__container .login__form__btns__container .signup__signup__btn,
.forgot__password__form__container .forgot__password__form__btns__container .signup__signup__btn,
.forgot__password__form__container .reset__password__form__btns__container .signup__signup__btn,
.reset__password__form__container .signup__form__btns__container .signup__signup__btn,
.reset__password__form__container .login__form__btns__container .signup__signup__btn,
.reset__password__form__container .forgot__password__form__btns__container .signup__signup__btn,
.reset__password__form__container .reset__password__form__btns__container .signup__signup__btn {
  width: 100%;
}
.signup__form__container .login__links__container,
.login__form__container .login__links__container,
.forgot__password__form__container .login__links__container,
.reset__password__form__container .login__links__container {
  margin-top: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.signup__form__container .login__links__container .forgot__password__link,
.signup__form__container .login__links__container .signup__link,
.login__form__container .login__links__container .forgot__password__link,
.login__form__container .login__links__container .signup__link,
.forgot__password__form__container .login__links__container .forgot__password__link,
.forgot__password__form__container .login__links__container .signup__link,
.reset__password__form__container .login__links__container .forgot__password__link,
.reset__password__form__container .login__links__container .signup__link {
  color: rgba(0, 102, 255, 0.9);
  font-size: 1.4rem;
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  text-decoration: none;
}
.signup__form__container .login__links__container .signup__link__container .heading,
.login__form__container .login__links__container .signup__link__container .heading,
.forgot__password__form__container .login__links__container .signup__link__container .heading,
.reset__password__form__container .login__links__container .signup__link__container .heading {
  font-size: 1.4rem;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  color: #222222;
}
.signup__form__container .login__links__container .forgot__password__link:hover,
.signup__form__container .login__links__container .signup__link:hover,
.login__form__container .login__links__container .forgot__password__link:hover,
.login__form__container .login__links__container .signup__link:hover,
.forgot__password__form__container .login__links__container .forgot__password__link:hover,
.forgot__password__form__container .login__links__container .signup__link:hover,
.reset__password__form__container .login__links__container .forgot__password__link:hover,
.reset__password__form__container .login__links__container .signup__link:hover {
  text-decoration: underline;
}

.login__form__container,
.reset__password__form__container {
  padding: 4rem;
}

.signup__form__container .signup__form,
.login__form__container .login__form,
.forgot__password__form__container .forgot__password__form,
.reset__password__form__container .reset__password__form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.login__form__container .login__form {
  margin-top: 1.4rem;
}

.signup__input__field__full,
.login__input__field__full,
.forgot__password__input__field__full,
.reset__password__input__field__full {
  width: 100%;
  margin-top: 2.4rem;
}/*# sourceMappingURL=Auth.css.map */