.dashboard__page {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.dashboard__page__content {
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  padding: 4rem 4rem 2rem 4rem;
  background: var(--dashboard-bg, #f6f6f8);
}
.dashboard__page__content .prev__seven__and__popular__urls__container {
  display: flex;
  width: 100%;
  gap: 1.6rem;
}
.dashboard__page__content .heading__time__section {
  background: #ffffff;
  width: 45%;
  border-radius: 0.6rem;
  box-shadow: var(--dashboard-content-box-shadow);
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  margin: 1.2rem 0;
  margin-top: 0;
}
.dashboard__page__content .heading__time__section .heading {
  color: rgba(0, 0, 0, 0.8);
  font-size: 3.2rem;
  font-weight: 700;
}
.dashboard__page__content .heading__time__section .timestamp {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.6rem;
  font-weight: 700;
  margin: 1rem 0;
}
.dashboard__page__content .heading__time__section .description {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 0.4rem;
}
.dashboard__page__content .stats__overview__container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.4rem;
  margin: 1.2rem 0;
}
.dashboard__page__content .prev__seven__days__hits__container {
  box-shadow: var(--dashboard-content-box-shadow);
  background: #ffffff;
  padding: 1.2rem;
  margin: 1.2rem 0;
  width: 50%;
}
.dashboard__page__content .url__stats__container {
  margin: 1.2rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.dashboard__page__content .url__stats__container .geographic__metrics {
  width: 100%;
  display: flex;
  gap: 1.6rem;
}
.dashboard__page__content .url__stats__container .geographic__metrics .continents__stats__container,
.dashboard__page__content .url__stats__container .geographic__metrics .countries__stats__container {
  box-shadow: var(--dashboard-content-box-shadow);
  background: #ffffff;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.dashboard__page__content .url__stats__container .device__metrics {
  width: 100%;
  display: flex;
  gap: 1.6rem;
}
.dashboard__page__content .url__stats__container .device__metrics .browser__stats__container,
.dashboard__page__content .url__stats__container .device__metrics .os__stats__container {
  box-shadow: var(--dashboard-content-box-shadow);
  background: #ffffff;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.dashboard__page__content .my__links__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1.6rem;
  background-color: #ffffff;
  border-radius: 0.6rem;
  box-shadow: var(--dashboard-content-box-shadow);
  max-height: 75vh;
  overflow-y: auto;
  margin: 1.2rem 0;
}
.dashboard__page__content .my__links__load__more__btn {
  font-weight: 700;
  border: none;
  outline: none;
  font-size: 1.6rem;
  margin-top: 1.6rem;
  cursor: pointer;
  background: transparent;
}
.dashboard__page__content .popular__urls__container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  border-radius: 0.6rem;
  box-shadow: var(--dashboard-content-box-shadow);
  margin: 1.2rem 0;
  padding: 1.2rem;
  width: 50%;
}
.dashboard__page__content .popular__urls__container .popular__urls__stats__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.8rem;
}
.dashboard__page__content .profile__page__content__container {
  display: flex;
  width: 100%;
}
.dashboard__page__content .profile__page__content__container .profile__page__left__section {
  width: 33%;
}
.dashboard__page__content .profile__page__content__container .profile__page__right__section {
  width: 66%;
  display: flex;
  flex-direction: column;
}
.dashboard__page__content .profile__page__content__container .update__profile__form {
  width: 66%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 3.2rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 3rem;
}
.dashboard__page__content .profile__page__content__container .update__profile__form .content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 1.6rem;
}

.dashboard__page__content .profile__page__right__section .personal__details__section {
  background: #ffffff;
  border-radius: 0.6rem;
  box-shadow: var(--dashboard-content-box-shadow);
}
.dashboard__page__content .profile__page__right__section .personal__details__section .personal__details__section__content {
  padding: 1.2rem 2.8rem 2.4rem 2.8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 20%;
       column-gap: 20%;
}
.dashboard__page__content .profile__page__right__section .account__information__section {
  box-shadow: var(--dashboard-content-box-shadow);
}
.dashboard__page__content .profile__page__right__section .account__information__section,
.dashboard__page__content .profile__page__right__section .change__password__section,
.dashboard__page__content .profile__page__right__section .danger__zone__section {
  margin-top: 3.2rem;
  background: #ffffff;
  border-radius: 0.6rem;
  box-shadow: var(--dashboard-content-box-shadow);
}
.dashboard__page__content .profile__page__right__section .change__password__section .change__password__section__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2.4rem 4.8rem;
}
.dashboard__page__content .profile__page__right__section .change__password__section .change__password__section__content .change__password__btn {
  width: 33%;
  height: 4.8rem;
  border-radius: 0.6rem;
  border: none;
  outline: none;
  color: #222222;
  font-weight: 700;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 1.6rem;
  background: rgba(0, 0, 0, 0.05);
}
.dashboard__page__content .profile__page__right__section .danger__zone__section .danger__zone__heading {
  background: rgb(212, 63, 58);
  color: #ffffff;
}
.dashboard__page__content .profile__page__right__section .danger__zone__section .danger__zone__section__content {
  display: flex;
  align-items: center;
  padding: 3.2rem;
  justify-content: space-around;
}
.dashboard__page__content .profile__page__right__section .danger__zone__section .danger__zone__section__content .headings__section .heading {
  height: 2.8rem;
  display: flex;
  align-items: center;
  color: #757575;
  font-weight: 600;
  font-size: 1.6rem;
}
.dashboard__page__content .profile__page__right__section .danger__zone__section .danger__zone__section__content .headings__section .subheading {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1.4rem;
  padding-right: 3.2rem;
}
.dashboard__page__content .profile__page__right__section .danger__zone__section .danger__zone__section__content .delete__account__btn {
  width: 18rem;
  height: 3.6rem;
  border-radius: 0.6rem;
  background: rgb(217, 83, 79);
  color: #ffffff;
  border: none;
  outline: none;
  font-weight: 500;
  cursor: pointer;
}

.update__profile__form .update__profile__input__field {
  width: 100%;
  margin: 1rem 0;
}
.update__profile__form .image__container {
  position: relative;
  border-radius: 50%;
  width: 16rem;
  height: 16rem;
  margin: 1.2rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.update__profile__form .image__container .img__choooser {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease;
}
.update__profile__form .image__container .img__choooser button {
  cursor: pointer;
}
.update__profile__form .image__container .update__profile__img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.update__profile__form .image__container .update__profile__pic__select {
  visibility: hidden;
}
.update__profile__form .image__container:hover .update__profile__img {
  opacity: 0.5;
  background-color: rgba(0, 0, 0, 0.25);
}
.update__profile__form .image__container:hover .img__choooser {
  opacity: 1;
}
.update__profile__form .update__form__btn {
  width: 20rem;
  height: 4rem;
  background: #5d44f8;
  font-size: 1.4rem;
  border-radius: 0.6rem;
  border: none;
  margin-top: 2rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  color: #ffffff;
}

.profile__page__content__container .profile__page__left__section .personal__details__section {
  height: auto;
  width: 95%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 1.6rem;
}
.profile__page__content__container .profile__page__left__section .personal__details__section .profile__picture__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.profile__page__content__container .profile__page__left__section .personal__details__section .profile__picture__container .profile__picture {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-top: 0.4rem;
  width: 16rem;
  height: 16rem;
}
.profile__page__content__container .profile__page__left__section .personal__details__section .profile__picture__container .profile__picture img {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.profile__page__content__container .profile__page__left__section .personal__details__section .bio__container {
  font-weight: 600;
  margin-top: 1.6rem;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 1.6rem;
}
.profile__page__content__container .profile__page__left__section .profile__page__update__profile__btn {
  width: 24rem;
  background: #6251d2;
  font-size: 1.4rem;
  border-radius: 0.6rem;
  border: none;
  margin: auto;
  margin-top: 2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  color: #ffffff;
  padding: 1.2rem 2rem;
}
.profile__page__content__container .profile__page__left__section .profile__page__update__profile__btn:hover {
  background: #4e40a9;
}

.dashboard__page__content .active__subscription__pack__details__container {
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 1.6rem;
}
.dashboard__page__content .active__subscription__pack__details__container .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.4rem;
  padding: 1.6rem;
  width: 100%;
}
.dashboard__page__content .active__subscription__pack__details__container .content .active__subs__details__container {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  width: 100%;
}
.dashboard__page__content .active__subscription__pack__details__container .content .active__pack__details__container {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.dashboard__page__content .subscription__history__container,
.dashboard__page__content .payment__history__container {
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 1.6rem;
  margin-top: 2.4rem;
}
.dashboard__page__content .subscription__history__container .content,
.dashboard__page__content .payment__history__container .content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 1.6rem;
  gap: 2.4rem;
}
.dashboard__page__content .subscription__history__container .btn__fetch__subs__history,
.dashboard__page__content .subscription__history__container .btn__fetch__payment__history,
.dashboard__page__content .payment__history__container .btn__fetch__subs__history,
.dashboard__page__content .payment__history__container .btn__fetch__payment__history {
  background-color: var(--bg-dark);
  text-decoration: none;
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 700;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  cursor: pointer;
  padding: 1.2rem 2.4rem;
  transition: background-color 0.3s ease;
}
.dashboard__page__content .subscription__history__container .btn__fetch__subs__history:hover,
.dashboard__page__content .subscription__history__container .btn__fetch__payment__history:hover,
.dashboard__page__content .payment__history__container .btn__fetch__subs__history:hover,
.dashboard__page__content .payment__history__container .btn__fetch__payment__history:hover {
  background-color: var(--bg-dark-hover);
}

@media screen and (max-width: 1440px) {
  .dashboard__page__content .my__links__container {
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
  }
}
@media screen and (max-width: 1366px) {
  .dashboard__page__content {
    padding: 3rem 3rem 2rem 3rem;
  }
  .dashboard__page__content .subscription__history__container .content {
    grid-template-columns: repeat(1, 1fr);
  }
  .dashboard__page__content .payment__history__container .content {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 1280px) {
  .dashboard__page__content .heading__time__section {
    width: 50%;
  }
  .dashboard__page__content .profile__page__content__container .update__profile__form {
    width: 80%;
  }
}
@media screen and (max-width: 1024px) {
  .dashboard__page__content .heading__time__section {
    width: 66%;
  }
  .dashboard__page__content .stats__overview__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .dashboard__page__content .prev__seven__and__popular__urls__container {
    flex-direction: column;
  }
  .dashboard__page__content .prev__seven__and__popular__urls__container > div {
    width: 100%;
  }
  .dashboard__page__content .url__stats__container .geographic__metrics,
  .dashboard__page__content .url__stats__container .device__metrics {
    flex-direction: column;
  }
  .dashboard__page__content .url__stats__container .geographic__metrics > div,
  .dashboard__page__content .url__stats__container .device__metrics > div {
    width: 100% !important;
  }
  .dashboard__page__content .active__subscription__pack__details__container .content {
    grid-template-columns: repeat(1, 1fr);
  }
  .dashboard__page__content .profile__page__content__container {
    flex-direction: column;
  }
  .dashboard__page__content .profile__page__content__container .profile__page__left__section {
    width: 80%;
    margin: auto;
  }
  .dashboard__page__content .profile__page__content__container .profile__page__right__section {
    width: 80%;
    margin: auto;
    margin-top: 2.4rem;
  }
}
@media screen and (max-width: 900px) {
  .dashboard__page__content .profile__page__content__container .profile__page__left__section {
    width: 90%;
    margin: auto;
  }
  .dashboard__page__content .profile__page__content__container .profile__page__right__section {
    width: 90%;
    margin: auto;
    margin-top: 2.4rem;
  }
  .dashboard__page__content .profile__page__content__container .update__profile__form {
    width: 90%;
  }
  .dashboard__page__content .profile__page__content__container .update__profile__form .content {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 600px) {
  .dashboard__page__content .heading__time__section {
    width: 75%;
  }
}