$main__dashboard__heading__size: 3.2rem;
$box__shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.05);

.dashboard__page {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.dashboard__page__content {
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  padding: 4rem 4rem 2rem 4rem;
  background: #f6f6f8;

  .main__dashboard__heading {
    font-size: $main__dashboard__heading__size;
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    display: flex;

    .welcome__text {
      color: #757575;
    }

    .name__heading {
      padding-left: 0.8rem;
    }
  }

  .heading__time__section {
    background: #ffffff;
    width: 56rem;
    height: 9.6rem;
    border-radius: 0.6rem;
    box-shadow: $box__shadow;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: "Mulish", sans-serif;
    margin-top: 1.6rem;
    padding: 1.6rem;

    .heading {
      color: rgba(0, 0, 0, 0.8);
      font-size: 3.2rem;
      font-weight: 700;
    }

    .timestamp {
      color: rgba(0, 0, 0, 0.5);
      font-size: 1.6rem;
      font-weight: 700;
      margin-top: 0.4rem;
    }
  }

  .stats__overview__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.8rem;
  }

  .prev__seven__days__hits__container {
    margin-top: 1.6rem;
    box-shadow: $box__shadow;
    width: 100%;
    background: #ffffff;
    padding: 1.6rem;
  }

  .continents__countries__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .continents__stats__container,
    .countries__stats__container {
      margin-top: 1.6rem;
      box-shadow: $box__shadow;
      width: 48%;
      background: #ffffff;
      padding: 1.6rem;
      display: flex;
      flex-direction: column;
      padding: 1.6rem;
    }
  }
}

.dashboard__page__content {
  .my__links__container {
    display: flex;
    flex-direction: column;
    padding: 1.6rem;
    background-color: #ffffff;
    border-radius: 0.6rem;
    box-shadow: $box__shadow;
    height: 75vh;
    overflow-y: auto;
  }

  .my__links__load__more__btn {
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    border: none;
    outline: none;
    font-size: 1.6rem;
    margin-top: 1.6rem;
    cursor: pointer;
    background: transparent;
  }

  .geographical__stats__container,
  .device__metrics__stats__container {
    background-color: #ffffff;
    margin-top: 3.2rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.6rem;

    .dropdown__selector__container {
      width: 40%;
      display: flex;
      padding: 3.2rem;
    }

    .stats__data__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 1.6rem;

      .continent__container,
      .country__container,
      .os__container,
      .browser__stats__container {
        width: 45%;
      }
    }
  }

  .popular__urls__container {
    background-color: #ffffff;
    margin-top: 3.2rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.6rem;

    .popular__urls__stats__container {
      display: flex;
      padding: 3.2rem;
      align-items: center;
      justify-content: center;
    }
  }
}
