$main__dashboard__heading__size: 3.2rem;
$component__margin: 1.2rem 0;

.dashboard__page {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.dashboard__page__content {
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  padding: 4rem 4rem 2rem 4rem;
  background: #f6f6f8;
  background: var(--dashboard-bg, #f6f6f8);

  .prev__seven__and__popular__urls__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.4rem;
  }

  .heading__time__section {
    background: #ffffff;
    width: 64rem;
    border-radius: 0.6rem;
    box-shadow: var(--dashboard-content-box-shadow);
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: "Mulish", sans-serif;
    padding: 1.6rem;
    margin: $component__margin;

    .heading {
      color: rgba(0, 0, 0, 0.8);
      font-size: 3.2rem;
      font-weight: 700;
    }

    .timestamp {
      color: rgba(0, 0, 0, 0.5);
      font-size: 1.6rem;
      font-weight: 700;
      margin: 1rem 0;
    }

    .description {
      color: rgba(0, 0, 0, 0.5);
      font-size: 1.4rem;
      font-weight: 500;
      margin-top: 0.4rem;
    }
  }

  .stats__overview__container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.4rem;
    margin: $component__margin;
  }

  .prev__seven__days__hits__container {
    box-shadow: var(--dashboard-content-box-shadow);
    background: #ffffff;
    padding: 1.6rem;
    margin: $component__margin;
  }

  .url__stats__container {
    margin: $component__margin;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;

    .continents__stats__container,
    .countries__stats__container,
    .browser__stats__container,
    .os__stats__container {
      box-shadow: var(--dashboard-content-box-shadow);
      background: #ffffff;
      padding: 1.6rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

.dashboard__page__content {
  .my__links__container {
    display: flex;
    flex-direction: column;
    padding: 1.6rem;
    background-color: #ffffff;
    border-radius: 0.6rem;
    box-shadow: var(--dashboard-content-box-shadow);
    height: 75vh;
    overflow-y: auto;
    margin: $component__margin;
  }

  .my__links__load__more__btn {
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    border: none;
    outline: none;
    font-size: 1.6rem;
    margin-top: 1.6rem;
    cursor: pointer;
    background: transparent;
  }

  .geographical__stats__container,
  .device__metrics__stats__container {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    border-radius: 0.6rem;
    box-shadow: var(--dashboard-content-box-shadow);
    margin: $component__margin;

    .dropdown__selector__container {
      width: 40%;
      display: flex;
      padding: 3.2rem;
    }

    .stats__data__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 1.6rem;

      .continent__container,
      .country__container,
      .os__container,
      .browser__stats__container {
        width: 45%;
      }
    }
  }

  .popular__urls__container {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    border-radius: 0.6rem;
    box-shadow: var(--dashboard-content-box-shadow);
    margin: $component__margin;

    .popular__urls__stats__container {
      padding: 2.8rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .profile__page__content__container {
    display: flex;
    width: 100%;
    min-height: 100%;

    .profile__page__left__section {
      width: 33%;
    }

    .profile__page__right__section {
      width: 66%;
      display: flex;
      flex-direction: column;
    }

    .update__profile__form {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: auto;
      box-shadow: 0 2px 6px rgb(0 0 0 / 0.1);
      padding: 3rem;
    }
  }
}

.dashboard__page__content .profile__page__right__section {
  .personal__details__section {
    background: #ffffff;
    border-radius: 0.6rem;
    min-height: 24rem;
    box-shadow: var(--dashboard-content-box-shadow);

    .personal__details__section__content {
      padding: 1.2rem 2.8rem 2.4rem 2.8rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 20%;
    }
  }

  .account__information__section {
    min-height: 24rem;
    box-shadow: var(--dashboard-content-box-shadow);
  }

  .account__information__section,
  .change__password__section,
  .danger__zone__section {
    margin-top: 3.2rem;
    background: #ffffff;
    border-radius: 0.6rem;
    box-shadow: var(--dashboard-content-box-shadow);
  }

  .change__password__section {
    .change__password__section__content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 2.4rem 4.8rem;

      .change__password__btn {
        width: 33%;
        height: 4.8rem;
        border-radius: 0.6rem;
        border: none;
        outline: none;
        color: #222222;
        font-family: "Mulish", sans-serif;
        font-weight: 700;
        cursor: pointer;
        margin: 0 auto;
        margin-top: 1.6rem;
        background: rgba(0, 0, 0, 0.05);
      }
    }
  }

  .danger__zone__section {
    .danger__zone__heading {
      background: rgba(212, 63, 58, 1);
      color: #ffffff;
    }

    .danger__zone__section__content {
      display: flex;
      align-items: center;
      padding: 3.2rem;
      justify-content: space-around;

      .headings__section {
        .heading {
          height: 2.8rem;
          display: flex;
          align-items: center;
          color: #757575;
          font-family: "Mulish", sans-serif;
          font-weight: 600;
          font-size: 1.6rem;
        }

        .subheading {
          display: flex;
          align-items: center;
          font-family: "Mulish", sans-serif;
          font-weight: 600;
          font-size: 1.4rem;
          padding-right: 3.2rem;
        }
      }

      .delete__account__btn {
        width: 18rem;
        height: 3.6rem;
        border-radius: 0.6rem;
        background: rgba(217, 83, 79, 1);
        color: #ffffff;
        border: none;
        outline: none;
        font-family: "Mulish", sans-serif;
        font-weight: 500;
        cursor: pointer;
      }
    }
  }
}

.update__profile__form {
  .update__profile__input__field {
    width: 100%;
    margin: 1rem 0;
  }

  .image__container {
    position: relative;
    border-radius: 50%;
    width: 16rem;
    height: 16rem;
    margin: 1.2rem;
    box-shadow: 0 2px 6px rgb(0 0 0 / 0.1);

    .img__choooser {
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: 0.5s ease;

      button {
        cursor: pointer;
      }
    }

    .update__profile__img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }

    .update__profile__pic__select {
      visibility: hidden;
    }
  }

  .image__container:hover .update__profile__img {
    opacity: 0.3;
  }

  .image__container:hover .img__choooser {
    opacity: 1;
  }

  .update__form__btn {
    width: 20rem;
    height: 4rem;
    background: #5d44f8;
    font-family: "Mulish", sans-serif;
    font-size: 1.4rem;
    border-radius: 0.6rem;
    border: none;
    margin-top: 2rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    color: #ffffff;
  }
}

.profile__page__content__container .profile__page__left__section {
  .personal__details__section {
    height: auto;
    width: 95%;
    box-shadow: 0 2px 6px rgb(0 0 0 / 0.1);
    padding: 1.6rem;

    .profile__picture {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      img {
        width: 16rem;
        height: 16rem;
        border-radius: 50%;
      }
    }

    .bio__container {
      font-family: "Mulish", sans-serif;
      font-weight: 600;
      margin-top: 1.6rem;
      color: rgba(0, 0, 0, 0.5);
      font-size: 1.3rem;
      text-align: center;
      margin-bottom: 1.6rem;
    }
  }
}
