.accordian {
  background-color: #181819;
  margin-top: 2.4rem;
  overflow: hidden;
  border-radius: 1.2rem;

  .header {
    color: var(--text-primary);
    font-size: 1.6rem;
    cursor: pointer;
    padding: 2.4rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
  }

  .content {
    font-size: 1.6rem;
    color: #d4d4d4;
    padding: 0 2.4rem 2.4rem 2.4rem;
  }
}

@media screen and (max-width: 768px) {
  .accordian {
    .header {
      font-size: 1.4rem;
    }

    .content {
      font-size: 1.4rem;
    }
  }
}
