.dash__head__subhead__container {
  padding: 1.6rem;
  width: 100%;
}
.dash__head__subhead__container .heading {
  font-weight: 600;
  color: #000000;
  font-size: 1.8rem;
}
.dash__head__subhead__container .subheading {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 0.4rem;
}
.dash__head__subhead__container .text__centered {
  text-align: center;
}

@media screen and (max-width: 600px) {
  .dash__head__subhead__container .heading {
    font-size: 1.6rem;
  }
  .dash__head__subhead__container .subheading {
    font-size: 1.3rem;
  }
}