.dash__head__subhead__container {
  padding: 1.6rem;

  .heading {
    font-family: "Mulish", sans-serif;
    font-weight: 600;
    color: #000000;
    font-size: 1.8rem;
  }

  .subheading {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.4rem;
    font-family: "Mulish", sans-serif;
    font-weight: 500;
    margin-top: 0.4rem;
  }
}
