window.env = {
  REACT_APP_PREFIX_URL_FOR_SHORT_URL: "${REACT_APP_PREFIX_URL_FOR_SHORT_URL}",
  REACT_APP_BACKEND_BASE_URL: "${REACT_APP_BACKEND_BASE_URL}",
  REACT_APP_DEFAULT_PROFILE_PICTURE: "${REACT_APP_DEFAULT_PROFILE_PICTURE}",
};
