.home__statistics__container {
  background-color: var(--bg-dark);
  padding: 8rem 4.8rem;
  background-image: var(--gradient-background-image-dark);

  .stats__cards__container {
    width: 75%;
    margin: 4rem auto auto auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .live__stats__card {
    grid-template-columns: repeat(2, 1fr);
    width: 50%;
  }
}

@media screen and (max-width: 1024px) {
  .home__statistics__container {
    .stats__cards__container {
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .home__statistics__container {
    .stats__cards__container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (max-width: 600px) {
  .home__statistics__container {
    .live__stats__card {
      margin-top: 0;
    }
  }
}
