$modal__width: 33vw;
$modal__close__btn__dimension: 2rem;
$modal__border__radius: 0.8rem;

.create__short__url__modal__overlay {
  padding: 0;
}

.create__short__url__modal__dialog {
  background: #ffffff;
  border-color: #ffffff;
  width: $modal__width;
  border-radius: 4px;
  margin: auto;
  display: flex;
  flex-direction: column;
  border: none;
  outline: none;
  animation: create__short__url__modal__dialog__animation 200ms linear 1;
  border-radius: $modal__border__radius;

  .create__short__url__dialog__title__container {
    height: 4.8rem;
    background: var(--bg-dark, rgb(23, 23, 23));
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.4rem 1.6rem;
    border-top-left-radius: $modal__border__radius;
    border-top-right-radius: $modal__border__radius;

    .title {
      font-size: 1.4rem;
      font-weight: 700;
      color: var(--text-primary, #ffffff);
    }

    .close__button__container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: $modal__close__btn__dimension;
      height: $modal__close__btn__dimension;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .short__url__dialog__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: 0;
    padding: 5.6rem;
    font-size: 1.8rem;

    .input__fields__container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      gap: 2.4rem;
    }

    .custom__alias__quota__exceeded {
      font-size: 1.4rem;
      text-align: center;
      color: #ff0000;
      font-weight: 500;
    }

    .generate__short__url__btn {
      padding: 1.8rem 5.4rem;
      border-radius: 0.6rem;
      border: none;
      outline: none;
      color: #fefefe;
      font-weight: 600;
      cursor: pointer;
      margin: 0 auto;
      font-size: 1.4rem;
      margin-top: 3.2rem;
      background: rgba(0, 0, 0, 0.85);

      &:hover {
        background: rgba(0, 0, 0, 1);
      }
    }
  }
}

@keyframes create__short__url__modal__dialog__animation {
  0% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
