.my__link__container {
  box-shadow: var(--dashboard-content-hover-box-shadow);
  border-radius: 0.6rem;
  padding: 1.2rem;
  margin: 1.2rem;
  display: flex;
  align-items: center;
}
.my__link__container .content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.my__link__container .content .buttons__container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.my__link__container .serial__number__container {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.my__link__container .serial__number__container span {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgba(51, 51, 51, 0.085);
  font-size: 1.3rem;
  font-weight: 500;
}
.my__link__container .content .urls__container,
.my__link__container .content .metadata__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  font-weight: 500;
  margin-left: 1.2rem;
  padding: 1rem 0;
  line-height: 1.6rem;
}
.my__link__container .content .buttons__container {
  margin-left: 1.2rem;
}

.my__link__container .content .urls__container .short__url__container {
  font-size: 1.4rem;
}
.my__link__container .content .urls__container .original__url__container {
  margin-top: 0.4rem;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.5);
}

.my__link__container .content .metadata__container {
  font-weight: 500;
  font-size: 1.3rem;
}
.my__link__container .content .metadata__container .ip__address__container {
  margin-top: 0.4rem;
}

@media screen and (max-width: 1440px) {
  .my__link__container {
    padding: 2.4rem 1.6rem;
  }
}
@media screen and (max-width: 1024px) {
  .my__link__container .content {
    flex-direction: column;
    margin-left: 1.2rem;
    align-items: start;
    gap: 1.2rem;
  }
}