.home__hero__container {
  width: 100%;
  height: calc(100vh - var(--home-navbar-height));
  background-color: var(--bg-primary);
  background-image: radial-gradient(
    circle,
    var(--bg-dark-hover) 1px,
    transparent 1px
  );
  background-size: 4rem 4rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .main__heading {
    font-size: 6rem;
    font-family:
      Inter,
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      Segoe UI,
      Roboto,
      Helvetica Neue,
      Arial,
      sans-serif;
    font-weight: 700;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: var(--bg-primary);
  }

  .main__heading:nth-child(1) {
    color: #222222;
  }

  .main__heading:nth-child(2) {
    color: #5d44f8;
    margin-top: -1rem;
  }

  .sub__heading {
    position: relative;
    z-index: 2;
    text-align: center;
    color: #333333;
    font-size: 2rem;
    font-weight: 600;
    margin: 1.6rem 0 0 0;
    padding: 0 1rem;
    background-color: var(--bg-primary);
  }

  .get__started__btn {
    text-decoration: none;
    background-color: var(--bg-dark);
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: 700;
    border-radius: 6px;
    position: relative;
    width: 20rem;
    height: 5.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    z-index: 2;
    transition: background-color 0.3s ease;
  }

  .get__started__btn:hover {
    background-color: var(--bg-dark-hover);
  }

  .hero__options__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.4rem;
    color: #333333;
    background-color: var(--bg-primary);

    .hero__option {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 1rem;

      svg {
        width: 2rem;
        height: 2rem;
      }

      span {
        font-size: 1.6rem;
        margin-left: 0.8rem;
      }
    }

    .hero__option:nth-child(2) {
      margin-left: 2.8rem;
    }
  }
}
