.home__hero__container {
  display: flex;
  width: 100%;
  height: calc(100vh - var(--home-navbar-height));
  background-color: var(--bg-primary);
}

.home__hero__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home__hero__container .main__heading {
  font-size: 6rem;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
.home__hero__container .main__heading:nth-child(1) {
  color: #222222;
}
.home__hero__container .main__heading:nth-child(2) {
  color: #5d44f8;
  margin-top: -1rem;
}
.home__hero__container .sub__heading {
  width: 50%;
  text-align: center;
  color: #333333;
  font-size: 2rem;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  margin: 1.6rem 0 0 0;
}
.home__hero__container .get__started__btn {
  text-decoration: none;
  background-color: var(--bg-dark);
  color: #ffffff;
  font-family: "Mulish", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 6px;
  position: relative;
  width: 20rem;
  height: 5.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.home__hero__container .get__started__btn:hover {
  background-color: var(--bg-dark-hover);
}
.home__hero__container .hero__options__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.4rem;
  margin-top: 2.4rem;
  color: #333333;
}
.home__hero__container .hero__options__container .hero__option {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home__hero__container .hero__options__container .hero__option img {
  width: 2.4rem;
  height: 2.4rem;
}
.home__hero__container .hero__options__container .hero__option span {
  font-size: 1.6rem;
  margin-left: 0.8rem;
}
.home__hero__container .hero__options__container .hero__option:nth-child(2) {
  margin-left: 2.4rem;
}