.chart__percentage__stats__container {
  padding: 0 1rem 1rem 1rem;
  width: 100%;
  font-size: 1.6rem;
  border-radius: 0.6rem;
  overflow: scroll;
}
.chart__percentage__stats__container table {
  width: 100%;
  margin-top: 0.8rem;
  text-align: center;
  border-collapse: collapse;
  overflow: hidden;
}
.chart__percentage__stats__container table th,
.chart__percentage__stats__container table td {
  padding: 1rem 1.4rem;
  border: 1px solid #ddd;
}
.chart__percentage__stats__container table th {
  font-weight: bold;
  background-color: #f2f2f2;
}
.chart__percentage__stats__container table td {
  border-radius: 0.6rem;
}
.chart__percentage__stats__container table tr:hover {
  background-color: rgba(233, 233, 233, 0.25);
}

@media screen and (max-width: 900px) {
  .chart__percentage__stats__container {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 600px) {
  .chart__percentage__stats__container {
    font-size: 1.2rem;
    padding: 0 0.8rem 0.8rem 0.8rem;
  }
  .chart__percentage__stats__container table th,
  .chart__percentage__stats__container table td {
    padding: 0.8rem 1.2rem;
  }
}