.chart__percentage__stats__container {
  padding: 1rem;
  width: 100%;
  font-size: 1.6rem;
  border-radius: 0.6rem;

  table {
    width: 100%;
    margin-top: 0.8rem;
    text-align: center;
    border-collapse: collapse;
    overflow: hidden;

    th,
    td {
      padding: 1rem 1.4rem;
      border: 1px solid #ddd;
    }

    th {
      background-color: #333333;
      color: white;
      font-weight: bold;
    }

    td {
      border-radius: 0.6rem;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    tr:hover {
      background-color: #e9e9e9;
    }
  }
}
