.plan__feature {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 1.6rem;

  svg {
    height: 2rem;
    width: 2rem;
  }

  span {
    margin-left: 1.6rem;
    color: var(--text-secondary);
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 1024px) {
  .plan__feature {
    span {
      font-size: 1.4rem;
    }
  }
}
