.why__choose__us__card {
  height: 20rem;
  padding: 2.8rem;
  margin: 1.2rem;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid rgb(38, 38, 38);
  border-radius: 1.6rem;
  background-color: #181819;
  position: relative;
}
.why__choose__us__card .icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 4.8rem;
  height: 4.8rem;
  transform: translate(25%, -25%);
  border-radius: 50%;
  -o-object-fit: contain;
     object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.why__choose__us__card .title {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--text-primary);
}
.why__choose__us__card .description {
  font-size: 1.6rem;
  font-weight: 400;
  color: #a3a3a3;
  margin-top: 1.4rem;
}

.why__choose__us__card:hover {
  border: 1px solid rgb(66, 65, 65);
}

@media screen and (max-width: 1366px) {
  .why__choose__us__card .title {
    font-size: 2rem;
  }
  .why__choose__us__card .description {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 1024px) {
  .why__choose__us__card {
    height: 24rem;
  }
  .why__choose__us__card .title {
    font-size: 2rem;
  }
  .why__choose__us__card .description {
    font-size: 1.4rem;
  }
  .why__choose__us__card .icon {
    height: 4rem;
    width: 4rem;
  }
}
@media screen and (max-width: 600px) {
  .why__choose__us__card {
    height: 28rem;
    padding: 2.4rem;
  }
  .why__choose__us__card .title {
    font-size: 2rem;
  }
  .why__choose__us__card .description {
    font-size: 1.4rem;
    line-height: 2.4rem;
  }
}
@media screen and (max-width: 480px) {
  .why__choose__us__card {
    height: auto;
  }
}