.customer__testimonial__card {
  width: 20%;
  height: 44rem;
  font-family: "Mulish", sans-serif;
  margin: 0 0.8rem;
  padding: 2.4rem 1.6rem;
  box-shadow: var(--customer-testimonial-box-shadow);
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.customer__testimonial__card .image {
  width: 9.6rem;
  height: 9.6rem;
  margin-bottom: 1.6rem;
  border-radius: 50%;
  margin: auto;
}
.customer__testimonial__card .name {
  font-size: 1.6rem;
  text-align: center;
}
.customer__testimonial__card .designation {
  font-size: 1.6rem;
  margin-top: 0.4rem;
  color: #757575;
  text-align: center;
}
.customer__testimonial__card .review {
  margin: 2.4rem;
  font-size: 1.4rem;
  color: #333333;
  position: relative;
  text-align: justify;
}
.customer__testimonial__card .review::before {
  content: "";
  background: url("/public/assets/icons/startquote.png") center/cover no-repeat;
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  top: -1.6rem;
  left: -1.6rem;
}
.customer__testimonial__card .review::after {
  content: "";
  background: url("/public/assets/icons/endquotes.png") center/cover no-repeat;
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  right: -1.6rem;
  bottom: 0;
}