.dashboard__stats__overview {
  width: 45%;
  background: #ffffff;
  box-shadow: var(--dashboard-content-box-shadow);
  border-radius: 0.6rem;
  padding: 1.6rem;

  .heading__txt {
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
  }

  .stats__container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1.6rem;
    margin-top: 1.6rem;
  }
}
