.oauth_button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
  padding: 1.4rem 2.8rem;
  outline: none;
  margin: 1.2rem;
  cursor: pointer;
  transition: all 0.2318s, border-color 0.2318s, box-shadow 0.2318s;
}
.oauth_button svg {
  width: 2rem;
  height: 2rem;
}
.oauth_button:hover {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.05), 0 1px 3px 1px rgba(60, 64, 67, 0.05);
}