$internal__loader__width: 9rem;
$internal__loader__height: 9rem;
$border: 2px solid #5d44f8;
$border__transparent: 2px solid transparent;

.internal__loader__container {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .internal__loader {
    border: $border__transparent;
    border-top: $border;
    border-radius: 50%;
  }

  .internal__loader__size__extra__small {
    width: $internal__loader__width/4;
    height: $internal__loader__height/4;
  }

  .internal__loader__size__small {
    width: $internal__loader__width/3;
    height: $internal__loader__height/3;
  }

  .internal__loader__size__medium {
    width: $internal__loader__width/2;
    height: $internal__loader__height/2;
  }

  .internal__loader__size__large {
    width: $internal__loader__width;
    height: $internal__loader__height;
  }

  .internal__loader__speed__fast {
    animation: internal_loader__rotation 250ms linear infinite;
  }

  .internal__loader__speed__medium {
    animation: internal_loader__rotation 500ms linear infinite;
  }

  .internal__loader__speed__slow {
    animation: internal_loader__rotation 1000ms linear infinite;
  }
}

@keyframes internal_loader__rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
