@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  transition: all 0.1s linear;
}

:root {
  /* Dashboard variables */
  --dashboard-bg: #fff0;
  --dashboard-navbar-heading-logo-color: #222222;
  --dashboard-navbar-bg: #ffffff00;
  --dashboard-navbar-right-border-color: rgb(218, 220, 224);
  --dashboard-navbar-link-txt: #333333;
  --dashboard-navbar-link-txt-active: #f0f0f0;
  --dashboard-navbar-link-active-bg: #222222;
  --dashboard-navbar-create-link-bg: none;
  --dashboard-navbar-create-link-bg-hover: #222222;
  --dashboard-navbar-create-link-border: 1px solid #22222250;
  --dashboard-navbar-create-link-border-hover: none;
  --dashboard-navbar-create-link-text: #222222;
  --dashboard-navbar-create-link-text-hover: #ffffff;
  --dashboard-navbar-link-img-color: #222222;
  --dashboard-navbar-link-active-img-color: #ffffff;
  --dashboard-navbar-bottom-btns-bg: rgba(33, 33, 33, 0.925);
  --dashboard-navbar-bottom-btns-hover-bg: rgba(33, 33, 33, 1);
  --dashboard-content-box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.05);
  --customer-testimonial-box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.uss__button__disabled {
  cursor: not-allowed !important;
}

.shimmer {
  background: linear-gradient(
    to right,
    transparent 0%,
    #f0f0f0 50%,
    transparent 100%
  ) !important;

  animation: shimmer-anim 1.5s linear infinite;
}

@keyframes shimmer-anim {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}
