.home__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--home-navbar-height);
  padding: 2rem 8rem;
  background-color: var(--bg-dark);
}

.logo__container {
  height: var(--home-navbar-height)/2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
}

.logo__container .navbar__link {
  color: var(--text-primary);
  font-size: 2.4rem;
  font-weight: 700;
  text-decoration: none;
}

.user__menu__container {
  border-radius: 50%;
  font-weight: 600;
  background-color: #5d44f8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 4rem;
  height: 4rem;
}
.user__menu__container .text {
  color: var(--text-primary, "#ffffff");
  font-size: 2rem;
}
.user__menu__container .dropdown {
  position: absolute;
  top: 105%;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.6rem;
  overflow: hidden;
  text-align: center;
  box-shadow: var(--dashboard-content-hover-box-shadow);
  overflow: hidden;
  opacity: 0;
  transform: translateY(-2rem);
  pointer-events: none;
  font-size: 1.4rem;
  transition: all 0.125s ease;
}
.user__menu__container .dropdown::before {
  content: "";
  position: absolute;
  top: -7px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent var(--bg-primary) transparent;
}
.user__menu__container .dropdown .user__name {
  text-shadow: unset;
  border-bottom: 1px solid #e0e0e0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold !important;
}
.user__menu__container .dropdown a,
.user__menu__container .dropdown .user__name {
  width: 100%;
  padding: 1.6rem 4rem;
  list-style-type: none;
  color: inherit;
  text-decoration: none;
  background-color: var(--bg-primary);
  font-weight: 500;
  transition: background-color 0.2s ease;
}
.user__menu__container .dropdown a:last-child,
.user__menu__container .dropdown .user__name:last-child {
  border-bottom: none;
}
.user__menu__container .dropdown a:hover,
.user__menu__container .dropdown .user__name:hover {
  background-color: aliceblue;
}
.user__menu__container .dropdown__visible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.auth__buttons__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
}

.signup__button,
.login__button {
  border-radius: 0.6rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  text-decoration: none;
  font-weight: 600;
  padding: 1rem 2rem;
}

.signup__button {
  background-color: var(--bg-primary);
  color: var(--text-secondary);
}

.login__button {
  margin: 0;
  background-color: transparent;
  color: var(--text-primary);
}

.login__button:hover {
  font-weight: 700;
}

.signup__button:hover {
  background-color: var(--bg-secondary);
  transition: all 100ms linear;
}

@media screen and (max-width: 768px) {
  .home__navbar {
    padding: 1.6rem 4rem;
    height: auto;
  }
  .home__navbar .navbar__link {
    font-size: 2rem;
  }
  .home__navbar .auth__buttons__container {
    height: 3.6rem;
  }
  .home__navbar .auth__buttons__container .login__button,
  .home__navbar .auth__buttons__container .signup__button {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 600px) {
  .home__navbar {
    padding: 1.6rem 3.2rem;
  }
  .home__navbar .navbar__link {
    font-size: 1.6rem;
  }
  .home__navbar .auth__buttons__container {
    height: 3.6rem;
  }
  .home__navbar .auth__buttons__container .login__button,
  .home__navbar .auth__buttons__container .signup__button {
    padding: 0.8rem 1.6rem;
  }
}