.home__navbar {
  display: flex;
  justify-content: space-between;
  height: 10rem;
  padding: 0 8rem;
}

.logo__container {
  height: 5rem;
  display: flex;
  align-items: center;
  margin-top: 2.5rem;
}

.logo__container .navbar__link {
  color: #222222;
  font-size: 2.4rem;
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  text-decoration: none;
}

.auth__buttons__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  margin-top: 2.5rem;
  width: 26.4rem;
}

.signup__button,
.login__button {
  width: 12rem;
  border-radius: 0.6rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  text-decoration: none;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  border: 2px solid #222222;
}

.signup__button {
  background-color: #222222;
  color: #ffffff;
}

.login__button {
  background-color: #ffffff;
  color: #222222;
}

.signup__button,
.login__button:hover {
  font-weight: 700;
}